@font-face {
	font-family: 'upupdowndownleftright';
	src:url('fonts/upupdowndownleftright.eot');
	src:url('fonts/upupdowndownleftright.eot?#iefix') format('embedded-opentype'),
		url('fonts/upupdowndownleftright.woff') format('woff'),
		url('fonts/upupdowndownleftright.ttf') format('truetype'),
		url('fonts/upupdowndownleftright.svg#upupdowndownleftright') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'upupdowndownleftright';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-turtle, .icon-link, .icon-mushroom, .icon-yoshi_egg, .icon-trforce, .icon-warp_tunnel {
	font-family: 'upupdowndownleftright';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-turtle:before {
	content: "\e000";
}
.icon-link:before {
	content: "\e001";
}
.icon-mushroom:before {
	content: "\e002";
}
.icon-yoshi_egg:before {
	content: "\e003";
}
.icon-trforce:before {
	content: "\e004";
}
.icon-warp_tunnel:before {
	content: "\e005";
}
